@use "../../scss/" as *;

.castdetails__container {
  display: flex;
  max-width: 100%;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.castdetail {
  height: 50px;
  width: 50px;
  background-color: aliceblue;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  margin-bottom: 10px;
  transition: all 0.3s ease;

  &:hover {
    height: 80px;
    width: 80px;
    border-radius: 5%;
    box-shadow: 8px 8px 5px -6px rgba(245, 235, 235, 0.48);
  }

  &:hover ~ .castdetail__profile {
    display: flex;
  }

  img {
    display: inline;
    margin: -10px auto 0 auto;
    height: auto;
    width: 100%;
  }

  &__profile {
    display: none;
    flex-direction: column;
    margin-left: 10px;
  }

  &__name {
    font-size: 1rem;
    padding-bottom: 2px;
  }

  &__role {
    font-size: 0.8rem;
    color: gray;
  }
}

.castdetail__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
  flex-shrink: 0;
  &:not(:last-child) {
    margin-right: 0.5rem;
  }
  transition: all 0.3s ease;
}

.castdetails__heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 5px;
}
