.video {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 60%;
  flex-shrink: 0;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}
